header {
    font-family:'Courier New';
    padding: 5px;
    color:blue;
    text-align: center;
    width:auto;
    height:auto;
    background-color:rgb(180, 84, 190);
    opacity:0.4;
    border:20px;
    border-radius:5px;
}
/* adds image styling*/
img {
    width:150px;
    height:150px;
    padding:10px;
    border:5px solid rgb(180, 84, 190);
    border-radius: 30px;
    float:right;
}

div{
    width:auto;
    height:100px;
    border:5px;
    padding:10px;
    margin: 1px;
}

/* adds descriptions to the body of the html */
body { 
    background-color: rgb(186, 209, 208);
    width:auto;
    height:auto;
    display: block;
    margin-left:auto;
    margin-right:auto;
    width:60%;
}

iframe{
    width:auto;
}

/*change color with hover*/

h2:hover{
    color:purple;
}

h3:hover{
    color:purple;
}

/* unvisited link */
a:link {
    color: black;
}
/* mouse over link */
a:hover {
    color: #FF00FF;
  }

/* visited link */
a:visited {
    color: #1100ff;
  }
h2 {
    font-family: 'Courier New';
    color:navy;
    padding: 10px;
    font-style: italic;
    margin: auto;
    text-align: center; 
}

h3 {font-family: 'Courier New';
    color:navy;
    padding: 10px;
    font-style: italic;
    margin: auto;
    text-align: center;
}

p {
    font-family: 'Times new Roman';
    text-align: left;
    color:black;
    font-style:normal;
    height:auto;
 }
 
main {
    color:black;
    margin:auto;
    height:auto;
    text-align:auto;
    font-size:medium;
}
footer {
    background-color:rgb(180, 84, 190);
    color:black;
    text-align: center;
    padding:10px;
    opacity:0.4;
    border:2px ;
    border-radius:5px;
}